nav.navbar.navbar-expand-lg.navbar-secondary.bg-secondary {
    margin-bottom: 0;
}

a.nav-link {
    color: ivory;
    font-size: 20px;
    font-weight: bold;
}

a.nav-link.active {
    color: ivory;
    font-size: 20px;
    font-weight: bold;
}

/* a.navbar-brand {
    color: ivory;
    font-size: 30px;
} */
